<%- include('partials/header', {title: 'Error'}); %>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('partials/navbar_loggedout') -%> 

        <main role="main" class="feed">
            <h1 class="cover-heading error-title"><%= title %></h1>
            <p class="lead error-description"><%= description %></p>
            <a class="error-href" href="<%= href %>">Go Back</a>
        </main>

        <%- include('partials/footer') -%>
    </div>
</body>

</html>