<%- include('partials/header', {title: 'Post'}); %>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand logo-text">lokal</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="/home">Home</a>
                    <a class="nav-link" href="/post">Post</a>
                    <a class="nav-link" href="/logout">Logout</a>
                </nav>
            </div>
        </header>

        <main role="main" class="feed">
            <h1 class="cover-heading feed-title"><%= post.title %></h1>
            <p class="lead feed-body"><%= post.body %></p>
            <% if (post.imageSrc) { %>
                <img class="feed-image" src="<%=post.imageSrc %>" alt="Post image">
            <% } %>
            <p class="feed-author"><%= post.author %></p>
        </main>

        <%- include('footer') -%> 
    </div>
</body>

</html>